body{
    background-color: rgb(17, 2, 31);
    background-image: url(js/kepek/hatter.png);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 80%;
    margin: auto auto;
    background-color: rgb(27, 27, 27);
    border: solid 8px rgb(108, 19, 190);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    flex: 0 1 100%;
}
.nyelvUI{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    color: blueviolet;
    background-color: rgb(32, 31, 31);
    border: solid 8px blueviolet; 
    max-width: 500px;
    flex: 0 1 100%;
    width: 75vw;
}

p{
    font-size: 30px;
}

.szint_gomb:hover, .gomb:hover{
    color: rgb(63, 20, 104);
    background-color: black;
}

.chatUI{


    display: flex;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    color: blueviolet;
    border: solid 8px blueviolet; 
    max-width: 500px;
    width: 75vw;
}

textarea{    
    min-width: 100px;
    resize: none;
    font-size: 20px;
}

#uzenetKuld{
    height: 4vw;
    
}

#uzenetFogad{
    height: 10vw;
    border-bottom: 3px solid blueviolet;
}

button{
    font-size: 25px;
    min-height: 50px;  
    color: white;
    border: 1px blueviolet solid;
    background-color: blueviolet;
}
button:hover{
    color: rgb(121, 118, 124);
    background-color: rgb(63, 20, 104);
}

h1{
    font-size: 40px;
    text-align: center;
    color: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    margin-bottom: 30px;
    background-color: rgb(27, 7, 46);
}

footer{
    margin-top:30px;
    text-align: center;
    color: blueviolet;
    background-color: rgb(27, 7, 46);
}